$dark-blue : #005b8f;
$gradiant-light-blue : #21D4FD;
$gradiant-light-purple : #7621ff;
$lynch:#73849a;
$iron:#d7d8da;

$pill-paid : rgb(255, 41, 41);
$pill-received:rgb(45, 171, 45);
$pill-redeemed:rgb(74, 74, 255);

$transition-pill-received:rgb(57, 255, 57);
$transition-pill-paid:rgb(175, 0, 0);

$card-light-blue : #21bffd;
$card-light-purple : #3f5e9f;