@import './../../colors.scss';

.blob{
    width: 250px;
    height: 250px;
    border-radius: 85% 19% 44% 63% / 67% 0% 100% 33%;
    background-color: $gradiant-light-blue;
    background-image: linear-gradient(19deg, $gradiant-light-blue 0%, $gradiant-light-purple 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    top: 0px; left: 0px;
    z-index: -99;
  }

  ion-item{
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    box-shadow: 3px 3px $iron;
    margin-bottom: 10px;
  }

  ion-icon {
    --ionicon-stroke-width: 55px;
    font-size: 20px;
    color: var(--ion-color-primary);
  }


  ion-button{
    width: 100%;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
  }

  ion-label{
    color: $dark-blue;
  }

  ion-grid{
    position: absolute;
    top: 280px;
    width: 100%;
  }

  .header{
    position: absolute;
    top: 90px;
    left: 80px;
    color: white;
    font-weight: bold;
  }